
<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @actors.each do |actor| %>
    <%= render "actor_templates/actor_row", actor: actor %>
  <% end %>
</table>
