<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% characters.each do |character| %>
    <%= render "character_templates/character_row", character: character %>
  <% end %>
</table>
